@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

body {
    width: 100%;
    height: 100vh;

    font-family: Arial, sans-serif;
    background: linear-gradient( #114c8b, #c9c9c9);
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    background-color: #0056b3;
    cursor: pointer;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************************HEADER style******************************/

.header-container {
    width: 100%;
    height: 70px;

    background-color: #0056b3;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;

    box-shadow: 10px 20px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;

    position: fixed;
    z-index: 2000;
}

.header_DIV-container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

            /***************** LOGO style *************/

.LOGO-div {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 2px solid #fff;

    margin-right: 15px;
}

.logo-TEXT {
    font-size: 20px;
    color: #fff;

    font-weight: bold;
}

            /********** NAV bar STYle*******************/
.Header-menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-bar {
    display: flex;
    align-items: center;
    
    gap: 20px;
}

.nav-barUL {
    list-style: none;
}

.nav-barLIA {
    color: #fff;

    text-decoration: none;

    padding: 10px 15px;

    border-radius: 5px;
    font-size: 16px;

    transition: background-color 0.3s, color 0.3s;
}

.nav-barLIA:hover {
    color: #0056b3;
    background-color: #fff;
}

        /************** HEADER action style *********************/

.header-actions {
    display: flex;
    align-items: center;
}

.icon {
    cursor: pointer;

    margin: 0 20px;
    font-size: 24px; 

    color: rgb(193, 184, 184); 
    transition: color 0.3s;
}

.icon:hover {
    color: #e9e1e1; 
}
            /*********************** dark mode style ***************/
            
.header-cart {
    position: relative;
}

.cart-toggle {
    background: none;
    border: none;
    font-size: 24px;

    color: #fff;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    
    top: -10px;
    right: -10px;

    background-color: #f00;

    color: #fff;

    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.cart-details {
    position: fixed;
    right: 0;
    top: 0;

    width: 300px;
    height: 100vh;

    background: #fff;
    
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    border-left: 1px solid #ddd;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.cart-details.visible {
    transform: translateX(0);
}

.cart-close {
    background: none;
    border: none;

    font-size: 18px;
    color: #333;
    cursor: pointer;

    margin: 10px;
    
    align-self: flex-end;/
}

.header__cart-details-item {
    display: flex;
    align-items: center;
    
    margin-bottom: 10px;

    border-bottom: 1px solid #ddd;

    padding-bottom: 10px;

    position: relative;
}

.remove-item {
    background: none;
    border: none;

    color: red;

    font-size: 1rem;
    cursor: pointer;

    position: absolute;

    right: 10px;
}

.remove-item i {
    font-size: 1rem;
}

.cart-item-img {
    width: 50px;
    height: 50px;

    object-fit: cover;

    border-radius: 5px;
    margin-right: 10px;
}

.header__cart-close {
    background: none;
    border: none;

    font-size: 1.2rem;
    cursor: pointer;
}



   /*** DARK MODE  *****/


.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode .header-container {
    background-color: #222;
}

.dark-mode .nav-barLIA {
    color: #f4f4f4;
}

.dark-mode .nav-barLIA:hover {
    color: #222;
    background-color: #f4f4f4;
}

.dark-mode .icon {
    color: #e9e1e1;
}

.dark-mode .cart-details {
    background: #444;
    color: #f4f4f4;
    border-left: 1px solid #555;
}


  /*************** HEADER responsive *********************/

.nav-bar, .header-actions {
    display: flex;
}

@media (max-width: 783px) {
    .nav-bar {
        display: none; 
    }

    .header-actions {
        display: none; 
    }

    .Header-menu-toggle {
        display: flex; 
        justify-content: center;
        align-items: center;

        font-size: 40px;

        background: none;

        border: none;
        cursor: pointer;

        color: black;
        
        position: absolute;
        top: 33px;
        left: 92%;

        transform: translate(-50%, -50%);
    }

    .nav-bar.mobile-menu {
        display: flex;
        flex-direction: column;
        position: absolute;

        gap: 20px;

        top: 70px;
        left: 50%;

        width: 50%;
        height: 100vh;
        
        background-color: #004293;
        color: white;

        align-items: center;
        padding-top: 10px;

        z-index: 1000;
    }

    .header-actions.mobile-menu {
        display: flex;
        flex-direction: row;

        position: absolute;

        top: 400px;
        left: 60%;

        z-index: 1000;
    }

    .nav-barUL {
        margin: 0;
        list-style: none;
    }

    .nav-barLI {
        color: white;
        padding: 10px;
    }

    .nav-barLIA {
       position: relative;

       left: 6%;
    }   

    .nav-barLIA:hover{
        background-color: transparent;
    }

    .nav-barLIA::after {
        content: '';

        width: 100%;
        height: 2px;

        position: absolute;

        left: 0;
        bottom: -6px;

        background-color: rgb(228, 220, 220);
        border-radius: 16px;

        opacity: 0;
        transform: scaleX(0);
        transition: 1s ease-out;
    }

    .nav-barLIA:hover::after{
        opacity: 1;
        transform: scaleX(1);
    }
}

@media (max-width: 552px) {
    .header-actions.mobile-menu {
        left: 50%;
    }
}

@media (max-width: 514px) {
    .Header-menu-toggle {
        right: 4%;
    }
}


@media (max-width: 366px) {
    .Header-menu-toggle {
        right: 3%; 
    }
}

@media (max-width: 332px) {
    .Header-menu-toggle {
        right: 5%; 
    }
}

@media (max-width: 296px) {
    .header-actions.mobile-menu {
        left: 40%;
    }
}

/***************************** MAIN STYLE *******************************/

.main-container {
   font-family: sans-serif;
}

i.fa-solid fa-arrow-right {
    font-family: "Font Awesome 6 Free";
    font-weight: 400;

    font-size: 1.5em;
    color: #000;

    background-color: #f0f0f0;
}

.contact-container {
    height: 100vh;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    font-size: 40px;
    color: #d1d1d1;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;

    width: 200px;
    height: 6px;

    background: linear-gradient(270deg, #468eda, #19406c);

    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;

    border: none;
    outline: none;

    padding-left: 25px;
    font-weight: 500;

    color: black;
    border-radius: 50px;
}

.contact-inputs:focus {
    border: 2px solid white;
}

.contact-inputs::placeholder {
    color: #737373;
}

.contact-left textarea {
    height: 140px;

    padding-top: 15px;
    border-radius: 20px;
}

.contact-left button {
    display: flex;
    align-items: center;

    gap: 10px;

    padding: 15px 30px;

    font-size: 16px;
    color: #fff;

    border-radius: 50px;
    border: none;

    background: linear-gradient(270deg, #468eda, #19406c);

    cursor: pointer;
}

.contact-right img {
    width: 350px;
    height: auto;
}

@media (max-width: 800px) {
    .main-container {
        padding-top: 120px;
    }

    .contact-inputs {
        width: 80vw;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 140vh;
    }
}

@media (max-width: 431px) {
    .main-container {
        padding-top: 120px;
    }

    .contact-inputs {
        width: 80vw;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100vh;
    }
}

@media (max-width: 415px) {
    .main-container {
        padding-top: 140px;
    }

    .contact-inputs {
        width: 80vw;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 120vh;
    }
}


@media (max-width: 376px) {
    .main-container {
        padding-top: 140px;
    }

    .contact-inputs {
        width: 80vw;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 140vh;
    }
}


/***************************************FOOTER********************************/

       

                    /***************************logo**************************/

.footer-logoDIV{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    padding-top: 40px;
}

.footer-logoDIV img {
    width: 2%;
    border-radius: 50%;
}

.footer-logoDIV p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(20, 19, 19);
}

.footer-logoDIV a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(83, 83, 219);
}

.footer-logoDIV a:hover{
    color: rgb(40, 40, 201);
}


/*************************FOTER link ***********************************/


.footer-container {
    background-color: #333;

    color: #fff;

    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer-social-links a {
    color: #fff;

    margin: 0 10px;

    font-size: 20px;

    transition: color 0.3s;
}

.footer-social-links a:hover {
    color: #f0f0f0;
}

.footer-nav-links {
    margin: 20px 0;
}

.footer-nav-links a {
    color: #fff;

    margin: 0 15px;

    text-decoration: none;
    font-size: 16px;

    transition: color 0.3s;
}

.footer-nav-links a:hover {
    color: #f0f0f0;
}

.footer-contact-info p {
    margin: 5px 0;
}

.footer-email {
    padding-top: 20px;
}


/********************************FOOTER RESPONSIVE ********************/

@media (max-width: 583px) {
    .footer-logoDIV img{
        width: 10%;
    }
}


@media (max-width: 445px) {
    .Header-containerchildH1{
        font-size: 23px;
    }

    .HeaderUP-Number{
        font-size: 15px;
    }

    .HeaderUP-GMAIL{
        font-size: 12px;
        
        position: relative;
        left: 20px;
    }

    .Header-containerNAVbutton{
        font-size: 10px;
    }

    .Header-containerNAVbuttonPARENT{
        padding-right: 5px;
    }


    .HeaderUP-DIViconPARENT{
        display: none;
    }

}

                   /***************FOOTER*******************/

@media (max-width: 768px) {
    .footer-container {
        padding: 15px;
    }

    .footer-social-links {
        margin-bottom: 15px;
    }

    .footer-nav-links a {
        display: block;
        margin: 10px 0;
    }

    .footer-contact-info p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer-social-links a {
        font-size: 18px;
    }

    .footer-nav-links a {
        font-size: 14px;
    }
}